.SBTasklistView {
    display: flex;
    align-items: center;
    width: 57%;
    margin: 5px auto;
}

.SBTasklist {
    margin-top: 20px;
}

.SBNameTasklist {
    margin-top: 20px;
}

.SBAddBtn {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 5px auto;
}

.SBAddBtn:hover {
    cursor: pointer;
}