.Item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    margin: 4rem 4rem 0rem 2rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.Item:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #96b7fe;
    padding: 2px;
}

.Label {
    color: white;
    font-size: x-large;
    font-weight: 200;
}

.Label:hover {
    font-weight: 800;
}

.Number {
    font-size: large;
}

.Icon:hover {
    background-color: #96b7fe;
    font-size: x-large;
}