.AddTodoMain {
    margin-top: auto;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AddTodoMain input {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

.AddTodoMain input {
    width: 70%;
    padding: 5px;
    height: 15px;
    background-color: white;
    border: none;
    border-radius: 0px;
}

.AddTodoMain input:focus {
    outline: none;
    border: 1px solid black;
}

.AddTodoMainBtn:hover {
    cursor: pointer;
}

.AddTodoMainBtn {
    display: block;
    position: relative;
    right: 24px;
    bottom: 15px;
}

.inputAdd {
    position: relative;
    right: 25px;
    bottom: 15px;
}

@media(max-width: 720px) {
    .AddTodoMainBtn {
        position: relative;
        right: 20px;
    }
}