.MainDisplay {
    width: 100%;
    background-color: #f9fafc;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 30px;
    margin-top: 3.3rem;
    padding: 20px 3px;
    overflow-y: scroll;
}

.TaskListArea {
    padding-right: 5px;
    padding-left: 0px;
    overflow-x: auto;
}

.row {
    width: 100%;
    padding: 0;
    text-align: center;
    height: 100%;
}

.col-lg-3 {
    display: inline-block;
    margin: 30px;
}

.MainDisplay:hover::-webkit-scrollbar-thumb {
    background-color: #6e9afb;
    border-radius: 10px;
    width: auto;
    height: auto;
}

.MainDisplay:hover::-webkit-scrollbar {
    background-color: #6e9afb;
    border-radius: 10px;
}

.TaskListOption {
    width: 50px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 300px;
}

.TaskListOption:hover {
    cursor: pointer;
}

.shareIconB {
    margin-left: 20px;
    width: auto;
    height: auto;
    border-radius: 25px;
    border: 1px solid black;
}

.addIconB {
    width: auto;
    height: auto;
    border-radius: 25px;
    border: 1px solid black;
}

.icon-text-add {
    text-align: left;
    vertical-align: left;
}

.icon-text-share {}

@media(max-width:640px) {
    .TaskListOption {
        top: 50px;
        right: 100px;
    }
}